/* @import url('../../src/style-variables/variables.scss'); */

:root {
    --yellow: #FCC617;
    --green: #8CC63F;
    --black: #000000;
    --white: #ffffff;
    --dark-grey: #5F5F5F;
    --light-grey: #EFEFEF;
}

.nav {
    background-color: var(--white);
}

.brand-img {
    max-width: 15rem;
} 

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--black);
}

.menu-toggle {
    margin-left: .8rem;
}

.nav-link {
    font-weight: bold;
    color: var(--black);
    border-radius: 5px;
    margin: 0 .5rem;
}

.administrator-login {
    font-size: 1.2rem;
    margin-right: 5rem;
}

.signin {
    background-color: var(--green);
}

.signup {
    border: solid 1px var(--yellow);
}

.banner {
    background-image: url('./Images/socialy-banner.png');
    min-height: 100vh !important;
    background-repeat: no-repeat;
}