@import '../../../style-variables/variables.scss';

.home-main {
    .text-green {
        color: $green;
    }

    .home-h1 {
        font-weight: bold;
    }

    .home-h3 {
        font-weight: 150;
    }

    .home-row-2 {
        background-color: $light-grey;
    }
}